doctype html

html
  head
    title= appTitle
    script(type="text/javascript", src="/js/jquery-2.2.2.min.js")
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript", src="/css/bootstrap/js/bootstrap.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #wrap
      .container
        h1.page-header= appTitle
        p.lead Welcome to example from Express.js Experience by&nbsp;
          a(href='http://twitter.com/azat_co') @azat_co
          |. Please enjoy.
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      footer
        .container
          p
            | Copyright &copy; 2016 | Issues? Submit to
            a(href="https://github.com/brightmo/personal-web") GitHub
            | .