<div ng-cloak>
  <!-- layout="row" -->
  <md-content class="md-padding" layout-xs="column" layout="row">
    <!-- first div with layout="column" -->
    <div flex-xs flex-gt-xs="50" layout="column">

      <md-card md-theme="default" md-theme-watch ng-repeat="post in vm.leftPosts">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ post.title }}</span>
            <span class="md-subhead">Written by {{ post.writer }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="">READ</md-button>
        </md-card-actions>
      </md-card>

    </div>

    <!-- second div with layout="column" -->
    <div flex-xs flex-gt-xs="50" layout="column">

      <md-card md-theme="default" md-theme-watch ng-repeat="post in vm.rightPosts">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ post.title }}</span>
            <span class="md-subhead">Written by {{ post.writer }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="">READ</md-button>
        </md-card-actions>
      </md-card>

    </div>
  </md-content>
</div>
