<div id="popupContainer" ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row" style="background-color: #D4D4D4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-preview" ng-repeat="post in vm.posts">
            <md-button ng-click="vm.showAdvanced($event, post._id)">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  <!-- {{ condensed contents of a post }} -->
                </h3>
            </md-button>
            <p class="post-meta">Posted by <a href="#">{{ post.writer }}</a> on {{ post.date }}</p>
            <hr>
          </div>
          <!-- Pager -->
          <ul class="pager">
            <li class="next">
              <a href="#">Older Posts &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </md-content>
</div>
