<div flex layout="row">
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#" name="home">Home</md-nav-item>
      <md-nav-item ng-show="navvm.isLoggedIn"
          md-nav-href="#/secretpage" name="profile">{{ navvm.currentUser.name }}</md-nav-item>
      <md-nav-item md-nav-href="#/signup" name="signup">Sign up</md-nav-item>
      <md-nav-item ng-hide="navvm.isLoggedIn"
          md-nav-href="#/signin" name="signin">Sign in</md-nav-item>
      <md-nav-item ng-show="navvm.isLoggedIn"
          ng-click="navvm.signOut()" name="signout">Sign out</md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
<!-- find directive property like md-nav-href -> don't need to use md-nav-click -->

  <!-- <li class="active"><a href="#/">Home</a></li>
  <li><a href="#/newpage">A New page</a></li>
  <li><a href="#/secretpage">Authorized only</a></li>
  <li><a href="#/signup" style="background:#f0e68c">Sign up</a></li>
  <li ng-show="navvm.isLoggedIn"><a href="#/secretpage">{{ navvm.currentUser.name }}</a></li>
  <div class="navbar-right">
    <li ng-hide="navvm.isLoggedIn"><a href="#/signin"  style="background:#f0e68c">Sign in</a></li>
    <li ng-show="navvm.isLoggedIn"><a href='#' ng-click="navvm.signOut()" style="background:#f0e68c">Sign out</a></li>
  </div> -->
