<div class="navbar navbar-default">
  <div class="container">
    <div id="navbar-main">
      <!-- <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
      </ul> -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#/">Home</a></li>
        <li><a href="#/newpage">A New page</a></li>
        <li><a href="#/secretpage">Authorized only</a></li>
        <li><a href="#/signup" style="background:#f0e68c">Sign up</a></li>
        <li ng-show="navvm.isLoggedIn"><a href="#/secretpage">{{ navvm.currentUser.name }}</a></li>
        <div class="navbar-right">
          <li ng-hide="navvm.isLoggedIn"><a href="#/signin"  style="background:#f0e68c">Sign in</a></li>
          <!-- <button name="signout" ng-show="navvm.isLoggedIn" ng-click="navvm.signOut()">Sign out</button> -->
          <li ng-show="navvm.isLoggedIn"><a href='#' ng-click="navvm.signOut()" style="background:#f0e68c">Sign out</a></li>
        </div>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li ng-hide="navvm.isLoggedIn"><a href="login">Sign in</a></li>
        <li ng-show="navvm.isLoggedIn"><a href="profile">{{ navvm.currentUser.name }}</a></li>
      </ul> -->
    </div>
  </div>
</div>
