<header class="intro-header" style="background-image: url('bootstrap/blog/img/the1975-bg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>SHARE WITH US</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div layout="column" ng-cloak class="md-inline-form"
  layout-align="center center" style="height:100%">
  <form name="userForm" ng-submit="vm.onSubmit()">
    <md-content layout-padding>
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <h1>Sign In</h1>
          <p>Not a member? Please <a ng-href="/#/signup">Sign up</a> first.</p>
        </div>
      </md-content>
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <ng-md-icon icon="email" style="fill: green" size="35"></ng-md-icon>
          <md-input-container>
            <label>Email Adress</label>
            <input required ng-model="vm.credentials.email" type="email">
          </md-input-container>
        </div>
      </md-content>
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <ng-md-icon icon="security" style="fill: red" size="35"></ng-md-icon>
          <md-input-container>
            <label>Password</label>
            <input required ng-model="vm.credentials.password" type="password">
          </md-input-container>
        </div>
      </md-content>
      <md-content layout-gt-sm="row" layout-align="center center" layout-padding>
        <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
      </md-content>
      <div ng-messages="userForm.vm.credentials.email.$error" role="alert">
        <div ng-message="required" class="my-message">You must supply a proper email address.</div>
      </div>
      <div ng-messages="userForm.vm.credentials.password.$error" role="alert">
        <div ng-message="required" class="my-message">You must supply a password.</div>
      </div>
    </md-content>
  </form>
</div>
