<div>
  <h2>Sign in</h2>
  <br>
  <p>
    <input type="text" ng-model="user.email" placeholder="email">
  </p>
  <p>
    <input type="password" ng-model="user.password" placeholder="password">
  </p>
  <br>
  <p>
    <!-- <input type="submit" name="signin" value="Sign in"> -->
    <button type="button" ng-click="signin()">Sign in</button>
  </p>
  <p>
    <a href="" ng-click="signup()">Or Sign up</a>
    <!-- <input type="submit" name="signup" value="Or Sign up" ng-click="save()"> -->
  </p>
  <!-- <br>
  <h2>email: {{ user.email }}</h2>
  <h2>password: {{ user.password }}</h2> -->
</div>
