<div layout="column" ng-cloak class="md-inline-form" layout-padding>
  <!-- title & private & menu -->
  <div layout="row">
    <div flex="45" flex-offset="15">
      <md-input-container class="md-block">
        <label>Title</label>
        <input ng-model="vm.post.title">
      </md-input-container>
    </div>
    <div flex="10"></div>
    <div flex="25">
      <!-- <fieldset class="standard"> -->
        <div layout="row" layout-wrap>
          <div flex="50">
            <md-checkbox ng-model="vm.post.isPrivate" aria-label="Private">
              Private?
              <!-- {{ post.isPrivate }} -->
            </md-checkbox>
          </div>
          <div flex="50">

            <!-- add a new menu for notekind -->

            <md-menu>
              <md-button aria-label="choose the kind of this note!" class="md-icon-button"
                ng-click="vm.openMenu($mdOpenMenu, $event)">
                <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
                <ng-md-icon icon="note_add" style="fill: black" size="30"></ng-md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="vm.redial($event)">
                    <!-- <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon> -->
                    <ng-md-icon icon="note_add" style="fill: black" size="30"></ng-md-icon>
                    Redial
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button disabled="disabled" ng-click="vm.checkVoicemail()">
                    <!-- <md-icon md-svg-icon="call:voicemail"></md-icon> -->
                    <ng-md-icon icon="note_add" style="fill: black" size="30"></ng-md-icon>
                    Check voicemail
                  </md-button>
                </md-menu-item>
                <!-- <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="ctrl.toggleNotifications()">
                    <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                  </md-button>
                </md-menu-item> -->
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      <!-- </fieldset> -->
    </div>
    <div flex></div>
  </div>
  <!-- textarea -->
  <div layout="row">
  <fieldset class="standard" flex="70" flex-offset="15">
  <div layout="row">
    <div flex="grow">
      <md-input-container class="md-block" layout-padding>
        <label>write here!</label>
        <textarea ng-model="vm.post.content"
           style="height: 30%" md-maxlength="3000"
          rows="50" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>
  <!-- tags -->
  <div layout="row">
    <div flex="grow">
      <md-content class="md-padding">
        <md-chips
          ng-model="vm.post.tags"
          readonly="vm.readonly"
          placeholder="Enter a tag"
          delete-button-label="Remove Tag"
          delete-hint="Press delete to remove tag"
          secondary-placeholder="+Tag">
        </md-chips>
      </md-content>
    </div>
  </div>
  </fieldset>
  </div>
  <!-- button for cancel & upload -->
  <div layout="row">
    <div flex="15" flex-offset="15">
      <md-button class="md-raised md-primary"
        ng-click="vm.cancel()">Cancel</md-button>
    </div>
    <div flex="45"></div>
    <div flex="15">
      <md-button class="md-raised md-warn"
        ng-click="vm.upload()">Upload!</md-button>
    </div>
  </div>
</div>
