<header class="intro-header" style="background-image: url('bootstrap/blog/img/upload-bg.jpg');" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>What do you think now?</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div layout="column" ng-cloak class="md-inline-form"
  style="margin-top: 5%; margin-bottom: 5%; margin-left: 10%; margin-right: 10%; border-style: solid">
  <md-content md-theme="write" layout="row" layout-gt-sm="row" layout-padding layout-align="space-between center">
    <md-input-container>
      <label>Title</label>
      <input ng-model="vm.post.title">
    </md-input-container>
    <md-input-container>
      <md-checkbox ng-model="vm.post.isPrivate" aria-label="Private">
        Private
      </md-checkbox>
    </md-input-container>
  </md-content>
  <md-content layout-padding>
    <div layout-padding>
      <md-input-container class="md-block">
        <label>Write here!</label>
        <textarea ng-model="vm.post.content" md-maxlength="1000" rows="30" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </md-content>
  <md-content layout-padding>
    <div flex="grow">
      <md-chips
        ng-model="vm.post.tags"
        readonly="vm.readonly"
        placeholder="Enter a tag"
        delete-button-label="Remove Tag"
        delete-hint="Press delete to remove tag"
        secondary-placeholder="+Tag">
      </md-chips>
    </div>
  </md-content>
  <md-content layout-padding layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
      ng-click="vm.cancel()">Cancel</md-button>
    <md-button class="md-raised md-warn"
      ng-click="vm.upload()">Done!</md-button>
  </md-content>
</div>
<div ng-include="'footer.html'"></div>
