<md-dialog aria-label="Post" style="margin: auto; width: 60%" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ post.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()">
          <ng-md-icon icon="cancel" style="fill: white" size="30"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        {{ post.content }}
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <!-- fix here -->
      <md-button ng-click="edit(post._id)">Edit</md-button>
      <md-button ng-click="delete(post._id)">Delete</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
