<div layout="column" ng-cloak class="md-inline-form" layout-align="center center" layout-padding>
  <div layout='row' layout-padding>
    <md-content class="md-padding" font-size: style:bold>
      {{ vm.post.title }}
    </md-content>
  </div>
  <div layout-padding>
    <md-contet class="md-padding">
      {{ vm.post.content }}
    </md-content>
  </div>
  <div layout="row" layout-padding layout-wrap>
    <!-- change this button to  -->
    <md-button class="md-accent" ng-repeat="tag in vm.post.tags">{{ tag }}</md-button>
  </div>
  <div layout="row" layout-padding layout-wrap>
    <md-button class="md-raised md-primary" ng-click="vm.edit()">Edit</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.delete()">Delete</md-button>
  </div>
</div>
